body {
    overflow-x: hidden;
    margin: 0;
}

canvas{
    position:fixed;
    z-index: -1;
}

.mb-10 {
    margin-bottom: 25px;
}

.mb-10p {
    margin-top: 10px;
}

.nome-indirizzo {
    color: #31ADD7;
    font-weight: bold;
    font-variant: small-caps;
}

.err {
    color: red;
    font-weight: bold;
}

.indirizzo {
    width: 130px;
    height: 130px;
    border-radius: 22px;
}

.indirizzo:hover {
    color: #111; 
    box-shadow: 0 0 70px #111; 
}
